<?xml version="1.0"?>
<config>
    <modules>
        <MagentoGarden_AjaxCart>
            <version>1.1.0</version>
        </MagentoGarden_AjaxCart>
    </modules>
    <frontend>
        <routers>
            <ajaxcart>
                <use>standard</use>
                <args>
                    <module>MagentoGarden_AjaxCart</module>
                    <frontName>ajaxcart</frontName>
                </args>
            </ajaxcart>
        </routers>
        <layout>
            <updates>
                <ajaxcart>
                    <file>ajaxcart.xml</file>
                </ajaxcart>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <ajaxcart>
                <class>MagentoGarden_AjaxCart_Model</class>
                <resourceModel>ajaxcart_mysql4</resourceModel>
            </ajaxcart>
            <ajaxcart_mysql4>
                <class>MagentoGarden_AjaxCart_Model_Mysql4</class>
                <entities>
                    <ajaxcart>
                        <table>ajaxcart</table>
                    </ajaxcart>
                </entities>
            </ajaxcart_mysql4>
        </models>
        <resources>
            <ajaxcart_setup>
                <setup>
                    <module>MagentoGarden_AjaxCart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcart_setup>
            <ajaxcart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxcart_write>
            <ajaxcart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxcart_read>
        </resources>
        <blocks>
            <ajaxcart>
                <class>MagentoGarden_AjaxCart_Block</class>
            </ajaxcart>
        </blocks>
        <helpers>
            <ajaxcart>
                <class>MagentoGarden_AjaxCart_Helper</class>
            </ajaxcart>
        </helpers>
    </global>
    <default>
        <ajaxcart>
            <general>
                <enabled>1</enabled>
                <jquery>1</jquery>
                <fancybox>1</fancybox>
            </general>
            <popup>
                <thumbnail_width>80</thumbnail_width>
                <thumbnail_height>80</thumbnail_height>
            </popup>
        </ajaxcart>
    </default>
</config>